<div class="row">
  <div class="col-8 mx-auto">
    <div class="row">
      <div class="col-4">
        <h5 style="color:red; font-weight:bold">*必填欄位</h5>
      </div>
      <div class="col-7">
        <h1>請修改你的支出</h1>
      </div>
    </div>
    {{#if errMessage}}
      {{#each errMessage}}
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <strong>{{this.message}}</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      {{/each}}
    {{/if}}
    <form
      action="/records/edit/{{record._id}}?_method=PUT"
      method="POST"
      class="mt-2"
    >
      <div class="input-group mb-4">
        <sapn class="input-group-text">名稱*</sapn>
        <input
          type="name"
          class="form-control"
          id="name"
          name="name"
          placeholder="支出名稱"
          value="{{record.name}}"
        />
      </div>
      <div class="input-group mb-4">
        <sapn class="input-group-text">日期*</sapn>
        <input
          type="text"
          class="form-control"
          id="date"
          name="date"
          onfocus="(this.type='date')"
          placeholder="YYYY/MM/DD"
          value="{{record.date}}"
        />
      </div>
      <div class="input-group mb-4">
        <sapn class="input-group-text">種類*</sapn>
        <select class="form-control" name="category" id="category">
          <option value="home" {{isSelected category "home"}}>家居物業</option>
          <option
            value="transport"
            {{isSelected category "transport"}}
          >交通出行</option>
          <option
            value="entertainment"
            {{isSelected category "entertainment"}}
          >休閒娛樂</option>
          <option value="food" {{isSelected category "food"}}>餐飲食品</option>
          <option value="other" {{isSelected category "other"}}>其他</option>
        </select>
      </div>
      <div class="input-group mb-4">
        <sapn class="input-group-text">金額*</sapn>
        <input
          type="number"
          class="form-control"
          id="amount"
          name="amount"
          min="0"
          placeholder="輸入金額"
          value="{{record.amount}}"
        />
      </div>
      <div class="d-grid col-auto mx-auto">
        <button type="submit" class="btn btn-primary">送出</button>
      </div>
    </form>
  </div>
</div>